/*color profiles: 
body: #738099 of rgba(128, 140, 163, 1)
first dark: rgba(28, 29, 32, 1)
second dark: rgba(41, 42, 45, 1)
third dark: rgba(80, 85, 94, 1)

text color: rgb(215, 215, 216)
*/

*{
    color: rgb(0, 0, 0);
    font-size: 11px;
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(128, 140, 163, 1);
    overflow: hidden; /* Prevents scrollbars */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.farm-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rig-item {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}