/* Base Styles */
body {
    background-color: #000000;
    color: #ffffff;
    font-family: D-DIN-Regular, Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
}

.main-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

/* Overview container */
.overview-container {
    width: 48%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

/* System options container */
.system-options-container {
    width: 48%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

/* Header */
.header {
    margin-bottom: 20px;
}

.header h1 {
    font: 16px/26px D-DIN-Regular, Arial, Verdana, sans-serif;
    color: #fff;
    margin: 0;
}

.header-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border: 1px solid transparent;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.header-button:hover {
    border: 1px dotted rgb(255, 0, 255);
}

/* Tab container */
.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
    margin: 0 10px;
}

.tab-link:hover, .tab-link.active {
    border-bottom: 2px solid #ffffff;
}

/* Modal styling */
/* Modal styling */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    color: #ffffff;
    display: none;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
}

.modal-content {
    font-size: 14px;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

button:hover {
    border: 1px dotted rgb(255, 0, 255);
}

.hidden {
    display: none;
}